/* width 1320px padding right&left 20px*/
/* 1440*120 */
/* 디스플레이 인라인 블록으로 하고 거리 조정 */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&family=Poppins:wght@400;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.btn {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400px;
  width: 256px;
  height: 64px;
  cursor: pointer;
  background-color: #fff;
  color: #111;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #111;
  font-size: 16px;
}

.center_box {
  width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav {
  display: flex;
  font-family: "Poppins", sans-serif;
}

.nav li a {
  display: inline-block;
  margin-right: 30px;
  font-weight: 400;
}

.top_menu {
  display: flex;
}

.top_menu li:last-child {
  margin-left: 40px;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product_new .product_title {
  font-family: "Poppins", sans-serif;
}

.visual {
  background-color: #fff;
}
.inner {
  height: 728px;
  background-image: url("/images/main_visual\ 2.png");
  background-repeat: no-repeat;
  background-position: center right 30px;
  position: relative;
}
.visual .visual_btns {
  /* margin-left: 30px; */
}
.visual .details {
  position: absolute;
  top: 355px;
  left: 0%;
}
.visual .details h2 {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 15px;
  line-height: 1.2;
  letter-spacing: -2.6px;
}
.visual .details p {
  font-family: "Poppins", sans-serif;
  font-weight: medium;
  font-size: 18px;
  margin-bottom: 15px;
}
.product_01 {
  display: flex;
  justify-content: space-between;
}
.product_01 li {
  background-color: #f5f5f5;
  width: 630px;
  height: 640px;
  display: flex;
  /* align-items: center; */
  background-color: #111;
  position: relative;
}
.product_01 .detail {
  color: white;
}
.product_01 .detail h2 {
  position: absolute;
  top: 51px;
  left: 48px;
  font-size: 40px;
  font-weight: 800;
}
.product_01 .detail a span {
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 560px;
  left: 30px;
  font-size: 30px;
  font-weight: 400;
}
.product_01 .detail a img {
  position: absolute;
  top: 572px;
  left: 209px;
  font-size: 24px;
  font-weight: 400;
}

.product_new {
  margin-top: 130px;
}

.product_new .titles h3 {
  font-size: 30px;
  font-weight: 800;
  padding-bottom: 26px;
}

.product_new .items {
  display: flex;
  justify-content: space-between;
}

.product_new .items li .nothing {
  width: 305px;
  height: 305px;
  background-color: #f5f5f5;
  margin-bottom: 10px;
}
.product_new .items li .releases_info {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
.product_new .items li .releases_info p {
  font-weight: 600;
}
.product_new .items li .releases_info .light {
  font-weight: 400;
}
.product_top {
  margin-top: 130px;
  margin-bottom: 220px;
}

.product_top .titles h3 {
  font-size: 30px;
  font-weight: 800;
  padding-bottom: 26px;
}

.product_top .items {
  display: flex;
  justify-content: space-between;
}

.product_top .items li .nothing {
  width: 305px;
  height: 305px;
  background-color: #f5f5f5;
  margin-bottom: 10px;
}
.product_top .items li .releases_info {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
.product_top .items li .releases_info p {
  font-weight: 600;
}
.product_top .items li .releases_info .light {
  font-weight: 400;
}
.infos {
  width: 300px;
  height: 240px;
}
.infos h4 {
  width: 247px;
  height: 80px;
  margin: 0 auto;
  padding-bottom: 11px;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  line-height: 0.8;
}
.infos .receive {
  width: 298px;
  /* margin: 0 auto; */
  height: 57px;
  padding-bottom: 27px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
  line-height: 0.8;
}
.infos button {
}
